.form-group {
    max-width: 500px;

    .form-alert {
        margin-bottom: 5%;
    }
}

.form-controller {
    display: flex;

    .form-item {
        width: 100%;
        display: flex;
    }
}

.button-controller {
    width: 100%;
    display: flex;

    .submit-button {
        width: 100%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .reset-button {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
    margin-top: 2pt;
    margin-bottom: 5pt;
    margin-left: 5pt;

    img {
        width: 80%;
        height: 80%;
    }
}