.forget-form {
  max-width: 300px;
  margin-left: 7%;
}

.forget-form-button {
  width: 100%;
}

.information-alert-form {
  margin-bottom: 5%;
}

.alert-link {
  margin-bottom: 10%;
  color: #000807;
}
