$primary-color: #ffd700;
$secondary-color: #001529;

.edit-button {
    color: #1111e0;
}

.delete-button {
    color: #eb1111;
}

.tools-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.add-user-button {
    margin-left: 200px;
    color: #eb1111;
}

.footer-text {
    color: #f8f6f4;
}

.expandable-paragraph-one {
    margin-bottom: 2;
}

.expandable-paragraph-two {
     margin-top: 2;
}

.items-container {
    .item-one {
        margin-right: 190; 
        margin-left: 190
    }

    .item-two {
        margin-right: 200; 
        margin-left: 200
    }
}

