$primary-color: #ffd700;
$secondary-color: #001529;

.table-container {

    .table {
        
    }
}

.edit-button {
    color: #1111e0;
}

.delete-button {
    color: #eb1111;
}

.tools-container {
    margin-top: 2%;
    margin-bottom: 2%;
}

.add-user-button {
    margin-left: 200px;
    color: #eb1111;
}

.footer-text {
    color: #f8f6f4;
}