.coin-link {
    margin-right: 2pt;

    img {
        width: 300px;
    }
}

.coin-links {
    margin-top: 2pt;
}

.action {
    margin-top: 5pt;

    .action-list {
        margin-right: 5pt;
    }
}

.item {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 90%;

    img {
        width: 690px;
    }
    
    a {
        text-decoration: none;
        text-align: center;
        align-items: center;
        font-weight: bold;
        color: #11cf11;
    }
}

.coin-desc .slider {
    width: 700px;
}

@media screen and (max-width: 500px) {
    .item img {
        width: 400px;
    }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
    .item img {
        width: 440px;
    }

    .coin-desc .slider {
        width: 450px;
    }
}